{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                    <div class="col">
                        <div class="p-5" height="1200px">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create New Receipt</h1>
                            </div>
                            <form class="user" name="registration" id="registration" enctype="multipart/form-data" action="{% url 'lendingAddProcess' %}" method="post">
                                {% csrf_token %}
                                <div class=" form-group row ">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <label for="dataPicker4">Books:</label>
                                                          <select id="dataPicker4" name="books"  class="selectpicker form-control" data-size="5" data-live-search="true" title="Choose Book(s)" data-selected-text-format="count" data-actions-box="true" multiple data-max-options="5">
                                                              {% for book in books %}
                                                              <option value="{{ book.detailed_id }}" data-subtext="{{ book.detailed_book_percentage }}%" {% if book.detailed_returned == False %} disabled {% endif %}>HLb00{{ book.detailed_id }}-{{ book.detailed_book_id.book_name }}</option>
                                                              {% endfor %}
                                                          </select>
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <label for="dataPicker5">User:</label>
                                                          <select id="dataPicker5" name="user"  class="selectpicker form-control" data-size="5" data-live-search="true" title="Choose User"  data-actions-box="true">
                                                              {% for user in users %}
                                                              <option  data-tokens="{{ user.national_id }}" value="{{ user.id }}" data-subtext="{{ user.username }}" {% if user.is_available == False %} disabled {% endif %}>{{ user.name }}</option>
                                                              {% endfor %}
                                                          </select>
                                    </div>
                                </div>

                                    {% for book in books %}
                                        <div class="form-group container-fluid asset {{ book.detailed_id }}" style="  text-align: center;
  font-family: cursive;
  font-size: 24px;
  border: 3px solid black;
  padding: 2rem 1rem;
  min-height: 3em;
  width: 80%;
  resize: both;
  border-radius: 50px 20px;
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;">

                                            <label for="name{{ book.detailed_book_id.book_id }}"><img src="{{ book.detailed_book_id.book_language.language_image.url }}" style="width: 20px;height:13.3px;border-radius: 1px"> <b><u>{{ book.detailed_book_id.book_name }}</u></b> - {{ book.detailed_book_id.book_released }}</label>
                                    <div id="name{{ book.detailed_book_id.book_id }}" class="form-group row justify-content-center">
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                        <img src="{{ book.detailed_book_id.book_image.url }}" style="width: 100%;height: 100%">
                                    </div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                      <label for="dept">    Start:</label>
                                      <input name="start{{ book.detailed_id }}" class="form-control form-control-user" type="date" value="{% now 'Y-m-d' %}" min="{% now 'Y-m-d' %}">
                                    </div>
                                    <div class="col-sm-3 mb-3 mb-sm-0">
                                      <label for="dept">    Due:</label>
                                      <input name="due{{ book.detailed_id }}" class="form-control form-control-user" type="date" value="{% now 'Y-m-d' %}" min="{% now 'Y-m-d' %}" >
                                    </div>

                                    </div>
                                        <h4 class="small font-weight-bold">Condition<span class="float-right">{{ book.detailed_book_percentage }}%</span></h4>
                                        <div class="progress">
                                        <div class="progress-bar bg-{% if book.detailed_book_percentage >= 66 %}success{% elif book.detailed_book_percentage >= 33 %}warning{% else %}danger{% endif %}" role="progressbar" style="width: {{ book.detailed_book_percentage }}%" aria-valuenow="{{ book.detailed_book_percentage }}" aria-valuemin="0" aria-valuemax="{{ book.detailed_book_percentage }}" data-toggle="tooltip" data-placement="right" title="{{ book.detailed_book_percentage }}%"></div>
                                    </div>
                                        </div>
                                    {% endfor %}
                                                    <br>
                                                    <br>
                                                        <hr>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-3"></div>
                                 <div class="col-3">
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Let's read some BOOKS !!!
                                </button>
                                     <br>
                                     </div>
                                 <div class="col-3"></div>
                            </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
    $(function() {

        $.validator.setDefaults({
            errorClass: 'help-block',
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },
            unhighlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .removeClass('has-error');

            },
            errorPlacement: function (error, element) {
                if (element.prop('type') === 'checkbox') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $("#registration").validate({
            rules: {
                books: "required",
                user : "required",
            },
            errorPlacement: function (label, element) {
                label.parents(".asd").addClass('arrow');
                label.insertAfter(element);
            },
            wrapper: 'span',
            messages: {
                book_name: "Choose Book(s)",
                book_released: "Choose Member",
        }
    });
    })
    </script>
{% endblock %}