{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Book's Receipt
                                    <a href="{% url 'lendingAdd' %}" class="btn btn-danger btn-icon-split btn-sm" style="background: #4e73df;">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Loan Book</span>
                                    </a></h1>
                    </div>

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Number of Receipts</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{x}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-ninja fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Online</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-lightbulb fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tasks Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Most Popular Book Genre</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Horror</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="font-size: x-large;">Authors</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                            <th style="text-align: center">No.</th>
                                            <th style="text-align: center">Receipt ID</th>
                                            <th style="text-align: center">Member</th>
                                            <th style="text-align: center">At</th>
                                            <th style="text-align: center">Info</th>
                                    </tr>
                                  </thead>
                                     {% comment %} <tfoot>
                                    <tr>
                                            <th style="text-align: center">No.</th>
                                            <th style="text-align: center">Receipt ID</th>
                                            <th style="text-align: center">Member</th>
                                            <th style="text-align: center">At</th>
                                            <th style="text-align: center">Info</th>
                                    </tr>
                                    </tfoot> {% endcomment %}
                                    <tbody>
                                    {% for receipt in receipts %}
                                        <tr>
                                        <td style="width:5%;text-align:center;vertical-align: middle;">{{ forloop.counter }}</td>
                                        <td style="text-align:center;vertical-align: middle;">HLrc00{{ receipt.receipt_id}}</td>
                                        <td style="text-align:center;vertical-align: middle;">{{ receipt.receipt_user.name}}</td>
                                        <td style="text-align:center;vertical-align: middle;">{{ receipt.receipt_timestamp}}</td>
                                        <td style="text-align:center;vertical-align: middle;"><button type="button" class="btn btn-outline-info btn-sm btn-circle" data-toggle="modal" data-target="#reqModal-{{ receipt.receipt_id }}"><i class="fas fa-box-open"></i></button></td>
                                        </tr>
                                        <!-- Modal -->
                                        <div class="modal fade bd-example-modal-lg" id="reqModal-{{ receipt.receipt_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                          <h5><b><i>#{{ receipt.receipt_id }}</i></b> by <b><i>{{ receipt.receipt_user.name }}</i></b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <!--Body -->
                                          <div class="container-fluid">
                                          <div class="row">
                                              {% for book in receipt.loanedBook_receipt.all %}
                                                  <div class="col-sm-6">
                                                  <div class="container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-sm-3 justify-content-center" style="align-content: center">
                                                        <img src="{{ book.loanedBook_book.book_image.url }}" style="width: 66.6px;height:100px;"/>
                                                      </div>
                                                      <div class="col-sm-9">
                                                          <b>{{ book.loanedBook_book.book_name }}</b>
                                                          <hr>
                                                                         <div class="row justify-content-center">
                                                                  <div class="col-sm-3">
                                                                      <p class="mb-0"><b><i class="fas fa-calendar-check" style="color: #1cc88a"></i></b></p>
                                                                  </div>
                                                                  <div class="col-sm-9">
                                                                      <p class="text-muted mb-0"><i>{{ book.loanedBook_startDate }}</i><br></p>
                                                                  </div>
                                                                    </div>
                                                                <hr>
                                                                       <div class="row justify-content-center">
                                                                  <div class="col-sm-3">
                                                                      <p class="mb-0"><b><i class="fas fa-calendar-times" style="color: #ff2929"></i></b></p>
                                                                  </div>
                                                                  <div class="col-sm-9">
                                                                      <p class="text-muted mb-0"><i>{{ book.loanedBook_dueDate }}</i><br></p>
                                                                  </div>
                                                                    </div>
                                                                <hr>
                                                                        <div class="row justify-content-center">
                                                                  <div class="col-sm-3">
                                                                      <p class="mb-0"><b><i class="fas fa-rotate-left"></i></b></p>
                                                                  </div>
                                                                  <div class="col-sm-9">
                                                                      <p class="text-muted mb-0"><i>{% if book.loanedBook_returnedDate is None %} <i class="fas fa-times-circle" style="color: #ff2929"></i> {% else %}{{ book.loanedBook_returnedDate }} {% endif %} </i><br></p>
                                                                  </div>
                                                                    </div>
                                                                                                                                                                       <hr>
                                                      </div>

                                                  </div>
                                                  </div>
                                                  </div>
                                              {% endfor %}
                                          </div>
                                          </div>
                                          <!--Body -->
                                        </div>
                                  </div>
                                </div>
                                                                        </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
</div>
{% endblock %}