{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add A New Member!</h1>
                            </div>
                            <form class="user" enctype="multipart/form-data" name="registration-form" id="registration-form" action="{% url 'addUser'%}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="userName">Name</label>
                                        <input type="text" class="form-control form-control-user" id="userName"
                                             name="name">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="adminUserName">Email</label>
                                        <input type="email" class="form-control form-control-user" id="adminUserName"
                                            name="email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control form-control-user" id="address"
                                         name="address">
                                </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-7 mb-3 mb-sm-0">
                                        <label for="userNationalId">National ID</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="userNationalId"  name="national_id">
                                    </div>
                                    <div class="col-sm-5 mb-3 mb-sm-0">
                                        <label for="userPhone">Phone Number</label>
                                        <input type="text" class="form-control form-control-user"
                                            id="userPhone"  name="phone_number">
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="userDoB">Date Of Birth</label>
                                    <input type="date" class="form-control form-control-user"
                                        id="userDoB"  name="birth_date">
                                </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="userEnd">Membership Expired Date</label>
                                    <input type="date" class="form-control form-control-user"
                                        id="userEnd"  name="expired_date">
                                </div>
                                </div>
                                <div class="form-group row">
                                    <input type = "file" class="form-control form-control-user"
                                        id="image" name="user_image">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
    $(function() {

        $.validator.setDefaults({
            errorClass: 'help-block',
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },
            unhighlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .removeClass('has-error');

            },
            errorPlacement: function (error, element) {
                if (element.prop('type') === 'checkbox') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $("#registration-form").validate({
            rules: {
                name: "required",
                email: "required email",
                birth_date: "required",
                national_id : {
                    required:true,
                    number: true,
                    length:12
                },
                phone_number : {
                    required:true,
                    number: true,
                    length:10
                },
                address : "required",
                expired_date :"required"

            },
            errorPlacement: function (label, element) {
                label.parents(".asd").addClass('arrow');
                label.insertAfter(element);
            },
            wrapper: 'span',
            messages: {
                name: "User's Name is required",
                email: {
                        required: "User's Email is required",
                        email: "Please enter a valid email address.",
                        },
                birth_date: "User's DoB is required",
                expired_date: "User's DoB is required",
                national_id: {
                        required:"National Id is required",
                        number: "Invalid National ID Number",
                        length: "Invalid National ID Number",
                },
                phone_number: {
                        required:"User's Phone Number is required",
                        number: "Invalid Phone Number",
                        length: "Invalid Phone Number",
                },
                address: "User's Address is required",
        }
    });
    })
    </script>
{% endblock %}