<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hius Library</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css1/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css1/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css1/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css1/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css1/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css1/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css1/style.css'%}" type="text/css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css1/custom.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" type="text/css">
</head>
{% block stylesheet %}
{% endblock %}
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
{% if messages %}
                                        {% for message in messages %}
                                                <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert" style="width: 50%;left: 25%;">
                                                  <strong>{{  message }}</strong>
                                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
        <div class="row justify-content-center">
        <div class="col-md-5"></div>
        <div class="col-md-5 col-md-offset-1">
            <div class="alert alert-success" id="clock" role="alert" style="z-index: 99;position: fixed;display: none">
  Added Successfully !!
    <button type="button" class="close" data-hide="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

        </div>
        <div class="col-md-2"></div>

  </div>
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper show__humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            {% if name %}
            <ul>
                <li><a href="#"><i class="fa fa-shopping-cart"></i> <span id="amount1">{{ count }}</span></a></li>
            </ul>
            {% endif %}
        </div>
        <div class="humberger__menu__widget">
            {% if name %}
                            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> {{ name }}</a>
            </div>
                {% else %}

                            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
            {% endif %}
        </div>
        <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
            <ul>
                <li class="active"><a href="{% url 'indexOfUser' %}" role="menuitem">Home</a></li>
                <li><a href="{% url 'allBook' %}" role="menuitem">All</a></li>
                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Themes</a>
                    <span class="slicknav_arrow">►</span></a><ul class="header__menu__dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                     {% for theme in themes %}<li><a href="{% url 'userTheme' theme.theme_id %}" role="menuitem" tabindex="-1">{{ theme.theme_name }}</a></li>{% endfor %}
                    </ul>
                </li>
            </ul>
        </nav></div></div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.15752-9/293475056_739693457326569_909382292583354364_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=rBnCFt-0ZS0AX9YTEaX&_nc_ht=scontent.fhan14-2.fna&oh=03_AVID0dSgJSh8EOujtWb72zjNXDDiGsfSlXCcNGB-6oko1A&oe=632355A7" style="height: 100px;width: 100px;"></a>
                    </div>
                </div>
                <div class="col-lg-6" style="    font-size: xxx-large;">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{%  url 'indexOfUser' %}">Home</a></li>
                            <li><a href="{% url 'allBook' %}">Shop</a></li>
                            <li><a href="#">Themes</a>
                                <ul class="header__menu__dropdown">
                                    {% for theme in themes %}<li><a href="{% url 'userTheme' theme.theme_id %}">{{ theme.theme_name }}</a></li>{% endfor %}
                                </ul>
                            </li>
                            {% if name %}
                                    <li><a href="#"><i class="fa fa-user"></i>{{ name }}</a>
                                        <ul class="header__menu__dropdown">
                                            <li><a href="{% url 'information' %}">Information</a></li>
                                            <li><a href="{% url 'history' %}" >History</a></li>
                                            <li><a href="{% url 'extend' %}">Extend</a></li>
                                            <li><a href="{% url 'logoutForUser' %}" >Logout</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                <li><a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm"><i class="fa fa-user"></i>Login</a></li>
                                {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        {% if name %}
                        <ul>
                            <li><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart" style="font-size: xx-large;"></i> <span id="amount2">{{ count }}</span></a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            {% for list in lists %}
                            <li><a href="{% url 'bookList' list.id %}" >{{ list.genre_name }}</a></li></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0337851718</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    {% block imagemtfk %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

{% block content %}
    {% endblock %}
 <!-- Login Modal -->

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
            <form method="POST" action="{% url 'loginForUser' %}">
                {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i> Access Key
          <input type="text" name="userkey" id="defaultForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-email"></label>
            <br>
          <i class="fa fa-lock prefix grey-text"></i> Password
          <input type="password" name="userpassword" id="defaultForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="defaultForm-pass"></label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-outline-info">Login</button>
      </div>
    </div>
  </div>
            </form>
</div>


    <!-- End Login Modal -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.15752-9/293475056_739693457326569_909382292583354364_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=rBnCFt-0ZS0AX9YTEaX&_nc_ht=scontent.fhan14-2.fna&oh=03_AVID0dSgJSh8EOujtWb72zjNXDDiGsfSlXCcNGB-6oko1A&oe=632355A7" alt="" style="width: 500px; height: 300px;" ></a>
                        </div>
                        {% comment %} <ul>
                            <li>Address: 132A Giang Vo - Ba Dinh </li>
                            <li>Phone: 0337851718</li>
                            <li>Email: thuynguyen@media-one.vn</li>
                        </ul> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6></h6>
                        {% comment %} <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul> {% endcomment %}
                        <ul>
                            <li>Address: 132A Giang Vo - Ba Dinh </li>
                            <li>Phone: 0337851718</li>
                            <li>Email: thuynguyen@media-one.vn</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js1/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js1/bootstrap.min.js'%}"></script>
    <script src="{% static 'js1/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'js1/jquery-ui.min.js'%}"></script>
    <script src="{% static 'js1/jquery.slicknav.js'%}"></script>
    <script src="{% static 'js1/mixitup.min.js'%}"></script>
    <script src="{% static 'js1/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js1/main.js'%}"></script>
    {% block script %}
    {% endblock %}

</body>
<script>
    $(document).ready(function(){

    });
    function addCart(id){
        alert(id);
        $.post('addCart',{'id':id,'csrfmiddlewaretoken':'{{ csrf_token }}'}, function(data)
        {

        });
    }
        $(document).ready(function () {
    $('.addCart').click(function (e) {
        e.preventDefault();
        var catid;
        var myClock = document.getElementById('clock');
        var displaySetting = myClock.style.display;
        catid = $(this).attr("book-data");
        var y = document.getElementById("amount2").textContent;
        var x = parseInt(y) + 1
        $.ajax(
            {
                type: "GET",
                url: "{% url 'addToCart' %}",
                data: {
                    catid: catid,
                },
                success: function (data) {

                }
            });
        $("[data-hide]").on("click", function(){
        $(this).closest("." + $(this).attr("data-hide")).hide();



    })
                $('.alert').show()
        document.getElementById("amount1").innerHTML = x
        document.getElementById("amount2").innerHTML = x
        $('#addCart'+catid).hide()
       })
        });
    $(document).ready(function () {
    oTable = $('#exampleDataTable').DataTable({sDom: 'lrtip',"lengthChange": false});
    $('#myInputTextField').keyup(function(){
      oTable.search($(this).val()).draw() ;
})
});
    $(document).ready(function () {
    oTable = $('#exampleDataTable2').DataTable({sDom: 'lrtip',"lengthChange": false});
    $('#myInputTextField2').keyup(function(){
      oTable.search($(this).val()).draw() ;
})
});
      var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
              URL.revokeObjectURL(output.src) // free memory
            }
          };
</script>
</html>