{% extends 'userIndex/base.html' %}
{% load static %}
{% block content %}
        <section class="breadcrumb-section set-bg" data-setbg="{{ book.book_image.url }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 style="font-family: cursive;-webkit-text-stroke: 0.7px black;"><i>{{ book.book_name }}</i></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{ book.book_image.url }}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="img/product/details/product-details-2.jpg"
                                src="img/product/details/thumb-1.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                src="img/product/details/thumb-2.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                src="img/product/details/thumb-3.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                src="img/product/details/thumb-4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ book.book_name }}</h3>
                        <h4>{% for author in book.book_Authorship_bookId.all %}<u>{{ author.bookauthorship_authorId.author_pseudonym }}</u>{% endfor %}</h4>
                        <div class="product__details__price">{{ book.book_pages }} page(s)</div>
                    <h4>Genres:</h4>
                    <br>
                        {% for subgenre in book.book_Subgenre_bookId.all %}
                            <a style="text-decoration: none;color: inherit;" href="{% url 'bookList' subgenre.booksubgenre_subgenreId.subgenre_ofGenre.id %}">{{ subgenre.booksubgenre_subgenreId.subgenre_ofGenre  }} </a> <i class="fa fa-arrow-right"></i> <a style="text-decoration: none;color: inherit;" href="{% url 'subGenreUser' subgenre.booksubgenre_subgenreId.id %}">{{ subgenre.booksubgenre_subgenreId.subgenre_name  }}</a><hr>
                        {% endfor %}
                        <ul>
                            <li><b>Language</b> <span><img src="{{ book.book_language.language_image.url }}" style="width: 30px;height: 20px"></span></li>
                            <li><b>In Library</b><span>{{ left }}</span></li>
                            <li><b>Themes</b>  <span>{% for theme in book.book_Themes_bookId.all %} <a style="text-decoration: none;color: inherit;" href="{% url 'userTheme' theme.bookthemes_themeId.theme_id %}"><u>{{ theme.bookthemes_themeId.theme_name  }}</u></a> {% endfor %}</span></li>
                            <li><b>Publisher</b> <span>{{ book.book_publisher }}</span></li>
                            <li><b>Released</b> <span>{{ book.book_released }}</span></li>
                        </ul>
                                       <div class="row justify-content-center">
                        {% for detail in details %}
                            <div class="col-6 justify-content-center chooseBook"  data-toggle="tooltip" data-placement="bottom" title="{{ detail.detailed_book_note }}">
                            {% if mtfk == 0 %}

                            <a {% if detail.detailed_returned %}id="addCart{{ detail.detailed_book_id }}" href="javascript:void(0)"  book-data ="{{ detail.detailed_id }}" class="addCart"{% endif %} style="text-decoration: none;color: #1c1c1c;"{% if name is None %}data-toggle="modal" data-target="#modalLoginForm"{% endif %}>
                                <div class="card m-3 border border-{% if detail.detailed_book_percentage >= 66 %}success{% elif detail.detailed_book_percentage >= 33 %}warning{% else %}danger{% endif %}" style="width: 18rem;">
                                  {% if detail.detailed_returned is False %}
                                <img src="https://thumbs.dreamstime.com/b/unavailable-stamp-rounded-grunge-textured-sign-label-white-background-197716035.jpg" id="overlay" style="  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;position:absolute;opacity: 0.5;z-index: 999;"/>
                            {% endif %}
                                    <div class="card-body">
                                    <h6 class="card-title border-bottom pb-1">HLb00{{ detail.detailed_id }} </h6>
                                    <h7 class="card-text">
                                      <div class="d-flex">
                                        <div class="w-50">{{ detail.detailed_book_percentage }}%</div>
                                        <div class="progress my-1 w-50">
                                          <div class="progress-bar bg-{% if detail.detailed_book_percentage >= 66 %}success{% elif detail.detailed_book_percentage >= 33 %}warning{% else %}danger{% endif %}" role="progressbar" style="width: {{ detail.detailed_book_percentage }}%" aria-valuenow="{{ detail.detailed_book_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </div>
                                    </h7>
                                  </div>
                                </div>
                            </a>
                            {% else %}

                                <div class="card m-3 border border-{% if detail.detailed_book_percentage >= 66 %}success{% elif detail.detailed_book_percentage >= 33 %}warning{% else %}danger{% endif %}" style="width: 18rem;">
                                  <img src="{% static 'img1/800px_COLOURBOX9968394.jpg' %}" id="overlay" style="  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;position:absolute;opacity: 0.5;z-index: 999;"/>
                                    <div class="card-body">
                                    <h6 class="card-title border-bottom pb-1">HLb00{{ detail.detailed_id }} </h6>
                                    <h7 class="card-text">
                                      <div class="d-flex">
                                        <div class="w-50">{{ detail.detailed_book_percentage }}%</div>
                                        <div class="progress my-1 w-50">
                                          <div class="progress-bar bg-{% if detail.detailed_book_percentage >= 66 %}success{% elif detail.detailed_book_percentage >= 33 %}warning{% else %}danger{% endif %}" role="progressbar" style="width: {{ detail.detailed_book_percentage }}%" aria-valuenow="{{ detail.detailed_book_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                      </div>
                                    </h7>
                                  </div>
                                </div>
                            {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                            <li class="nav-item">
                                {% comment %} <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a> {% endcomment %}
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Book's Description</h6>
                                    <p>{{ book.book_description }}</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Author Infomation</h6>
                                    {% for author in book.book_Authorship_bookId.all %}
                                <div class="row">
                                    <div class="col-3">
                                        <img src="{{ author.bookauthorship_authorId.author_imgUrl.url }}">
                                    </div>
                                    <div class="col-9">
                                            <h4><b><i>{{ author.bookauthorship_authorId.author_pseudonym }}</i></b></h4>
                                        <p>{{ author.bookauthorship_authorId.author_biography }}</p>
                                </div>
                                </div>

                                        {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                        Proin eget tortor risus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Find Something New ?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for allbook in allbooks %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ allbook.book_image.url }}">
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{% url 'userBookInfo' allbook.book_id %}"><b><i>{{ allbook.book_name }}</i></b></a></h6>
                            {% for subgenre in allbook.book_Subgenre_bookId.all %}

                                <h6>{{ subgenre.booksubgenre_subgenreId.subgenre_name  }} <span class="badge badge-secondary">{{ subgenre.booksubgenre_subgenreId.subgenre_ofGenre  }}</span></h6>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock  %}