{% extends 'userIndex/base.html' %}
{% block content %}
    {% if cart %}
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
    <a href="{% url 'clearCart' %}">Clear</a>
      <form method="POST" action="requestBook">
      {% csrf_token %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Book</th>
                <th scope="col">Start Date</th>
                <th scope="col">Due Date</th>
                  <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                          {% for book in cart %}
                              <div>
              <tr>
                <th scope="row">
                    <input type="text" name="bookId" value="{{ book.id }}" hidden>
                  <div class="d-flex align-items-center">
                    <div class="flex-column ms-4">
                      <p class="mb-2">{{ book.name }}</p>
                      <p class="mb-0">{{ book.bookauthorship_authorId.author_pseudonym }}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <input id="form1" min="0" name="dateStart{{ book.id }}" value="{{ x|date:'Y-m-d' }}" type="date"
                      class="form-control form-control-sm" style="width: 100%;" />
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <input id="form2" min="0" name="dateDue{{ book.id }}" value="{{ x|date:'Y-m-d' }}" type="date"
                      class="form-control form-control-sm" style="width: 100%;" />
                  </div>
                </td>
                <td>
                    <a href="{% url 'deleteCart' book.id  %}">Delete</a>
                </td>
              </tr>
                              </div>
              {% endfor %}

            </tbody>
          </table>

        </div>
              <div class="row justify-content-center">
        <button class="btn btn-outline-success btn-circle" type="submit">Request</button>
        </div>
      </form>
      </div>

    </div>
  </div>
</section>
    {% endif %}
{% endblock %}