{% extends 'userIndex/base.html' %}
{% block content %}
    {% if cart %}
<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
    <a href="{% url 'clearCart' %}">Clear</a>
      <form method="POST" action="requestBook">
      {% csrf_token %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Book</th>
                  <th scope="col">Code</th>
                <th scope="col">Start Date</th>
                <th scope="col">Due Date</th>
                  <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                          {% for book in cart %}
                              <div>
              <tr>
                <th scope="row">
                    <input type="text" name="bookChoose" value="{{ book.id }}" hidden>
                  <div class="d-flex align-items-center">
                    <div class="flex-column ms-4">
                        <p class="mb-2"><a style="text-decoration: none;color: inherit;" href="{% url 'userBookInfo' book.id %}">{{ book.name }}</a></p>
                      <p class="mb-0">{{ book.bookauthorship_authorId.author_pseudonym }}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <p class="mb-2"><a style="text-decoration: none;color: inherit;">Hlb00{{ book.bcode }}</a></p>
                      <input type="hidden" name="bookId" value="{{ book.bcode }}">
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <input id="form1" type="date" class="form-control form-control-sm" name="dateStart{{ book.bcode }}" value="{{ x|date:'Y-m-d' }}" min="{{ x|date:'Y-m-d' }}" max="{{ mindate|date:'Y-m-d' }}"
                       style="width: 100%;" required/>
                  </div>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <input id="form2" type="date" class="form-control form-control-sm" name="dateDue{{ book.bcode }}" min ="{{ x|date:'Y-m-d'     }}" max="{{ mindate|date:'Y-m-d' }}"
                       style="width: 100%;" required/>
                  </div>
                </td>
                <td>
                    <a href="{% url 'deleteCart' book.id  %}" class="btn btn-outline-danger btn-sm rounded-circle"><i class="fa fa-remove"></i></a>
                </td>
              </tr>
                              </div>
              {% endfor %}

            </tbody>
          </table>

        </div>

          <div class="row justify-content-center">
              {% if name %}
        <button class="btn btn-outline-success btn-circle" type="submit">Request</button>
                  {% else %}
        <button type="button" class="loginRequired btn btn-outline-success btn-circle" data-toggle="modal" data-target="#modalLoginForm">Request</button>
                {% endif %}
        </div>

      </form>
      </div>

    </div>
  </div>
</section>
        {% else %}
        <section class="h-100 h-custom">
        <img src="https://rtworkspace.com/wp-content/plugins/rtworkspace-ecommerce-wp-plugin/assets/img/empty-cart.png" style="width: 100%;height: 100%;">
        </section>
    {% endif %}
{% endblock %}