{% extends 'userIndex/base.html' %}
{% block content %}
<section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                        <div class="blog__sidebar__item">
                            <h4>Sub-Genre</h4>
                            <div class="blog__sidebar__item__tags">
                                {% for sub in sub_Genre %}
                                <a href="">{{ sub.subgenre_name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-7">

                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-6 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{ x }}</span> Books found</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for book in books %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ book.book_image.url }}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="{% url 'addToCart' book.book_id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6 ><a href="{% url 'userBookInfo' book.book_id %}">{{ book.book_name}}</a></h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block imagemtfk %}
    <div class="hero__item set-bg" data-setbg="https://i.pinimg.com/originals/80/50/ee/8050eeeec9311721a748450b1509b3a8.png">
                        <div class="hero__text">

                            <h2 style="color: white;font-family: cursive">{{ genre.genre_name }}</h2>
                                <h4 style="-webkit-text-stroke: 0.7px black;color: yellow;" >{{ genre.genre_description }}</h4>
                        </div>
                    </div>
{% endblock %}