{% extends 'userIndex/base.html' %}
{% block content %}
<section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                        <div class="blog__sidebar__item">
                            <h4 style="    font-size: xx-large;">{{ subGenres.subgenre_name }}</h4>
                        </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9 col-md-7">

                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-6 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{ x }}</span> Books found</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for book in books %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ book.book_image.url }}">
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{% url 'userBookInfo' book.book_id %}">{{ book.book_name}}</a></h6>{% if book.returned == 0 %}<h6><span class="badge badge-warning">Not In Library</span></h6>{% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if books.has_other_pages %}
                        <ul class="pagination pagination-lg justify-content-center">
                                    {% if books.has_previous %}
                                        <li class="page-item"><a class="page-link"  href="?page={{ books.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" ><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                    {% endif %}

                                    {% if books.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link"  href="?page={{ books.number|add:'-5' }}">&hellip;</a></li>
                                    {% endif %}

                                    {% for i in books.paginator.page_range %}
                                        {% if books.number == i %}
                                            <li class="page-item active"><a class="page-link" >{{ i }}</a></li>
                                        {% elif i > books.number|add:'-5' and i < books.number|add:'5' %}
                                            <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if books.paginator.num_pages > books.number|add:'4' %}
                                        <li class="page-item"><a class="page-link"  href="?page={{ books.number|add:'5' }}">&hellip;</a></li>
                                    {% endif %}

                                    {% if books.has_next %}
                                        <li class="page-item"><a class="page-link"  href="?page={{ books.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" ><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                    {% endif %}
                        </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block imagemtfk %}
    <div class="hero__item set-bg" data-setbg="https://i.pinimg.com/originals/80/50/ee/8050eeeec9311721a748450b1509b3a8.png">
                        <div class="hero__text">

                            <h2 style="color: white;font-family: cursive">{{ subGenres.subgenre_name }}</h2>
                                <h4 style="-webkit-text-stroke: 0.7px black;color: yellow;" >{{ subGenres.subgenre_description }}</h4>
                        </div>
                    </div>
{% endblock %}