{% extends 'layouts/base.html' %}
{% block stylesheet %}



{% endblock %}
{% block content %}
    <div class = "container-fluid">

    <div class="row">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Receipts</h6></div>
                <div class="card-body">
                    <table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>From:</td>
            <td><input type="text" id="min" name="min" style="border:none;"></td>
            <td>To:</td>
            <td><input type="text" id="max" name="max" style="border:none;"></td>
        </tr>
    </tbody></table>
    <table id="example" class="display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>No.</th>
                <th>Receipt ID</th>
                <th>By</th>
                <th>Date</th>
                <th>At</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>No.</th>
                <th>Receipt ID</th>
                <th>By</th>
                <th>Date</th>
                <th>At</th>
            </tr>
        </tfoot>
        <tbody>
        {% for receipt in receipts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="javascript:void(0)" style="text-decoration: none" data-toggle="modal" data-target="#reqModal-{{ receipt.receipt_id }}">HLrc00{{ receipt.receipt_id }}</a></td>
                <td>{{ receipt.receipt_user.username }}</td>
                <td>{{ receipt.receipt_timestamp|date:"F j, Y" }}</td>
                <td>{{ receipt.receipt_timestamp|date:"H:i" }}</td>

            </tr>
                                                    <div class="modal fade bd-example-modal-lg" id="reqModal-{{ receipt.receipt_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                          <h5><b><i>#{{ receipt.receipt_id }}</i></b> by <b><i>{{ receipt.receipt_user.name }}</i></b></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <!--Body -->
                                          <div class="container-fluid">
                                          <div class="row">
                                              {% for book in receipt.loanedBook_receipt.all %}
                                                  <div class="col-sm-6">
                                                  <div class="container">
                                                  <div class="row justify-content-center">
                                                      <div class="col-sm-3 justify-content-center" style="align-content: center">
                                                        <img src="{{ book.loanedBook_book.book_image.url }}" style="width: 66.6px;height:100px;"/>
                                                      </div>
                                                      <div class="col-sm-9">
                                                          <b>{{ book.loanedBook_book.book_name }}</b>
                                                          <hr>
                                                                         <div class="row justify-content-center">
                                                                  <div class="col-sm-3">
                                                                      <p class="mb-0"><b><i class="fas fa-calendar-check" style="color: #1cc88a"></i></b></p>
                                                                  </div>
                                                                  <div class="col-sm-9">
                                                                      <p class="text-muted mb-0"><i>{{ book.loanedBook_startDate }}</i><br></p>
                                                                  </div>
                                                                    </div>
                                                                <hr>
                                                                       <div class="row justify-content-center">
                                                                  <div class="col-sm-3">
                                                                      <p class="mb-0"><b><i class="fas fa-calendar-times" style="color: #ff2929"></i></b></p>
                                                                  </div>
                                                                  <div class="col-sm-9">
                                                                      <p class="text-muted mb-0"><i>{{ book.loanedBook_dueDate }}</i><br></p>
                                                                  </div>
                                                                    </div>
                                                                <hr>
                                                                        <div class="row justify-content-center">
                                                                  <div class="col-sm-3">
                                                                      <p class="mb-0"><b><i class="fas fa-rotate-left"></i></b></p>
                                                                  </div>
                                                                  <div class="col-sm-9">
                                                                      <p class="text-muted mb-0"><i>{% if book.loanedBook_returnedDate is None %} <i class="fas fa-times-circle" style="color: #ff2929"></i> {% else %}{{ book.loanedBook_returnedDate }} {% endif %} </i><br></p>
                                                                  </div>
                                                                    </div>
                                                                                                                                                                       <hr>
                                                      </div>

                                                  </div>
                                                  </div>
                                                  </div>
                                              {% endfor %}
                                          </div>
                                          </div>
                                          <!--Body -->
                                        </div>
                                    </div>
                                 </div>
                                                    </div>
        {% endfor %}
        </tbody>
    </table>
                </div>
        </div>
            <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (This Week)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">${% for last7day in last7days %}{{ last7day.price|floatformat:-2 }}{% endfor %}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Earnings (Annual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">${% for sm in sumMoney %}{{ sm.moneys|floatformat:-2 }}{% endfor %}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
{#                        <div class="col-xl-3 col-md-6 mb-4">#}
{#                            <div class="card border-left-info shadow h-100 py-2">#}
{#                                <div class="card-body">#}
{#                                    <div class="row no-gutters align-items-center">#}
{#                                        <div class="col mr-2">#}
{#                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks#}
{#                                            </div>#}
{#                                            <div class="row no-gutters align-items-center">#}
{#                                                <div class="col-auto">#}
{#                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>#}
{#                                                </div>#}
{#                                                <div class="col">#}
{#                                                    <div class="progress progress-sm mr-2">#}
{#                                                        <div class="progress-bar bg-info" role="progressbar"#}
{#                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"#}
{#                                                            aria-valuemax="100"></div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-auto">#}
{#                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{% for pend in pending %}{{ pend.countx }}{% endfor %}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Last 7 Days</h6></div>
                <div class="card-body">
                    <canvas id="myChart4" style="width:100%;max-width:100%"></canvas>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Earning in 7 days</h6></div>
                <div class="card-body">
                    <canvas id="myChart10" style="width:100%;max-width:100%"></canvas>
                </div>
            </div>


    </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">All Books</h6></div>
                <div class="card-body">
                    <canvas id="myChart1" width="100%" height="100%"></canvas>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Languages</h6></div>
                <div class="card-body">
                    <canvas id="myChart2" style="width:100%;max-width:100%"></canvas>
                </div>
            </div>
            <div class="card shadow mb-4">
            <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Available Books</h6></div>
            <div class="card-body">
                <canvas id="myChart3"  width="100%" height="100%"></canvas>
            </div>
        </div>

{#            <div class="card shadow mb-4">#}
{#                <div class="card-header"><h6 class="m-0 font-weight-bold text-primary">Progress</h6></div>#}
{#                <div class="card-body">#}
{#                                    <h4 class="small font-weight-bold">Server Migration <span#}
{#                                            class="float-right">20%</span></h4>#}
{#                                    <div class="progress mb-4">#}
{#                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"#}
{#                                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                    </div>#}
{#                                    <h4 class="small font-weight-bold">Sales Tracking <span#}
{#                                            class="float-right">40%</span></h4>#}
{#                                    <div class="progress mb-4">#}
{#                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"#}
{#                                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                    </div>#}
{#                                    <h4 class="small font-weight-bold">Customer Database <span#}
{#                                            class="float-right">60%</span></h4>#}
{#                                    <div class="progress mb-4">#}
{#                                        <div class="progress-bar" role="progressbar" style="width: 60%"#}
{#                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                    </div>#}
{#                                    <h4 class="small font-weight-bold">Payout Details <span#}
{#                                            class="float-right">80%</span></h4>#}
{#                                    <div class="progress mb-4">#}
{#                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"#}
{#                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                    </div>#}
{#                                    <h4 class="small font-weight-bold">Account Setup <span#}
{#                                            class="float-right">Complete!</span></h4>#}
{#                                    <div class="progress">#}
{#                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"#}
{#                                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">New User in 7 days</h6></div>
                <div class="card-body">
                    <canvas id="myChart5" style="width:100%;max-width:100%"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Near-Expired</h6></div>
                <div class="card-body">
                    <div class="table-responsive">
                                <table class="table" width="100%" cellspacing="0">
                        <thead>
                        <th>No.</th>
                        <th>User</th>
                        <th>Expired At</th>
                        <th>Remind</th>
                        </thead>
                        <tbody>
                        {% for nearend in nearends %}
                        <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ nearend.username }}</td>
                        <td>{{ nearend.expired_date }}({{ nearend.expired_date|timeuntil }})</td>
                            <td><a class="btn btn-outline-info btn-circle btn-sm"><i class="fas fa-envelope"></i></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block script %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.2/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.2/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.12.1/dataRender/datetime.js"></script>
    <script>
    //Chart Pie
    function rdCl() {
        let randomColor = '"#'+Math.floor(Math.random()*16777215).toString(16)+'"';
        return  randomColor
}
var xValues = [{% for chart in chart1 %} "{{ chart.loanStatus_name }}"{% if chart == chart1.last %} {% else %} , {% endif %} {% endfor %}];
var yValues = [{% for chart in chart1 %}"{{ chart.count }}"{% if chart == chart1.last %} {% else %} , {% endif %} {% endfor %}];
var barColors = [
    "#cd3c3a",
    "#8cbcf6",
    "#e68a03",
    "#4df2bf",
    "#4e4ebf",
    "#6b8566",
    "#bf155f",
    "#46f10b",
];

new Chart("myChart1", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "All Receipt "
    }
  }
});

//End Chart

var date = new Date();
var day = date.getDate();
var ytday = date.getDate(0)-1;
var month = date.toLocaleString('default', { month: 'long' });
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;
var options = { year: 'numeric', month: 'long', day: 'numeric' };
    var today = month + " " + day + ", " + year;
var yesterday = new Date((new Date()).valueOf() - 1000*60*60*24);
document.getElementById("min").value = date.toLocaleDateString("en-US", options);
document.getElementById("max").value = date.toLocaleDateString("en-US", options);
var minDate, maxDate;

// Custom filtering function which will search data in column four between two values
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var today = new Date()
        let min = moment($('#min').val()).isValid() ?
            new Date( $('#min').val() ).setUTCHours(0,0,0,0) :
            null;
        let max = moment($('#max').val()).isValid() ?
             new Date( $('#max').val() ).setUTCHours(23,59,59,999):
             null;
        var min1 = minDate.val();
        var max1 = maxDate.val();
        if(max > today){
            document.getElementById("max").value = today.toLocaleDateString("en-US", options);
        }
        if(min1 > max1){
            document.getElementById("min").value = max1.toLocaleDateString("en-US", options);
        }

        var date = new Date( data[3] );

        if (
            ( min === null && max === null ) ||
            ( min === null && date <= max ) ||
            ( min <= date   && max === null ) ||
            ( min <= date   && date <= max )
        ) {
            return true;
        }
        return false;
    }
);

$(document).ready(function() {
    // Create date inputs
    minDate = new DateTime($('#min'), {
        format: 'MMMM D, YYYY'
    });
    maxDate = new DateTime($('#max'), {
        format: 'MMMM D, YYYY'
    });

    // DataTables initialisation
    var table = $('#example').DataTable();

    // Refilter the table
    $('#min, #max').on('change', function () {
        table.draw();
    });
});
//ChartLanguage
var xValues = [{% for chart in chart2 %} "{{ chart.language_name }}"{% if chart == chart2.last %} {% else %} , {% endif %} {% endfor %}];
var yValues = [{% for chart in chart2 %} "{{ chart.count }}"{% if chart == chart2.last %} {% else %} , {% endif %} {% endfor %}];
var barColors = [  "rgba(255,0,0,1.0)",
  "rgba(255,0,0,0.8)",
  "rgba(255,0,0,0.6)",
  "rgba(255,0,0,0.4)",
  "rgba(255,0,0,0.2)"];

new Chart("myChart2", {
  type: "horizontalBar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Languages In Library"
    }
  }
});
//EndChart
    //Status Chart
    var xValues = ["Available","Not Available"];
var yValues = [{{ sum.set }}-{{ count }},{{ count }}];
var barColors = [
  "#00aba9",
  "#b91d47",
  "#2b5797",
  "#e8c3b9",
  "#1e7145"
];

new Chart("myChart3", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Book's Status in Library"
    }
  }
});
    //End Chart
    //New Chart
var xValues = [{% for item in items %}
"{{ item.receipt_timestamp__date }}"
    {% if item == items.last %} {% else %} , {% endif %}
{% endfor %}];
var yValues = [{% for item in items %}{{ item.count }}{% if item == items.last %} {% else %} , {% endif %}{% endfor %}];

new Chart("myChart4", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgb(255,0,0)",
      borderColor: "rgba(255,0,0,0.51)",
      data: yValues
    }]
  },

  options: {
          title: {
      display: true,
      text: "Book Request Last 7 Days"
    },
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: {{ min.count }}, max:{{ max.count }}+1}}],
    }
  }
});
    //End Chart

    //Stat Chart5
var xValues = [{% for user in users %}
"{{ user.date_joined__date }}"
    {% if user == users.last %} {% else %} , {% endif %}
{% endfor %}];
var yValues = [{% for user in users %}{{ user.count }}{% if user == users.last %} {% else %} , {% endif %}{% endfor %}]
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart5", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "New Users"
    }
  }
});
    //EndChart
var xValues = [{% for chart in chart10 %}
"{{ chart.history_timestamp__date }}"
    {% if chart == chart10.last %} {% else %} , {% endif %}
{% endfor %}];
var yValues = [{% for chart in chart10 %}{{ chart.sum|floatformat:2 }}{% if chart == chart10.last %} {% else %} , {% endif %}{% endfor %}];
var chart10max = Math.ceil({{chart10max.sum}}+1)
var chart10min = Math.ceil({{ chart10min.sum }}-1)
new Chart("myChart10", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgb(0,255,157)",
      borderColor: "rgba(0,255,157,0.56)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: chart10min , max: chart10max}}],
    }
  }
});
</script>

{% endblock %}