{% extends 'layouts/base.html' %}
{% load humanize %}
{% block content %}
    <div class="container-fluid">
     <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="font-size: x-large;">Update</h6>
                        </div>
                        <div class="card-body">
                                                    <h4>{{ price.pricing_name }}</h4>
                                                    <form class="user" name="registration-form" id="registration-form" action="{% url 'detailedBookUpdate' %}" enctype="multipart/form-data" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group row justify-content-center">
                                                            <div class="col-sm-10 mb-3 mb-sm-0">
                                                                <div class="form-group rows">
                                                      <select name="book" class="username form-control">
                                                          {% for book in books %}
                                                              <option value="{{ book.book_id }}">{{ book.book_name }}</option>
                                                          {% endfor %}
                                                      </select>
                                                                </div>
                                                                <div class="form-group rows">
                                                      <input type="number" name="percent" class="username form-control"  placeholder="Percentage"/>
                                                                </div>
                                                                <div class="form-group rows">
                                                        <textarea class="username form-control" name="note" style="resize: none;" placeholder="Note"></textarea>
                                                                </div>
                                                                <div class="form-group rows">
                                                      <input type="number" name="amount" class="username form-control"  placeholder="Amount"/>
                                                                </div>
                                                                </div>
                                                            <div class="col-sm-2 justify-content-center">
                                                        <button class="btn btn-success btn-circle" type="submit"><i class="fas fa-check"></i></button>
                                                                </div>
                                                        </div>
                                                    </form>
                        </div>
    </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(function() {

        $.validator.setDefaults({
            errorClass: 'help-block',
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },
            unhighlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .removeClass('has-error');

            },
            errorPlacement: function (error, element) {
                if (element.prop('type') === 'checkbox') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $("#registration-form").validate({
            rules: {
                pricingName_update: "required",
                pricingPrice_update : "required",
                pricingDay_update :"required",
                price_image_update: "required"
            },
            errorPlacement: function (label, element) {
                label.parents(".asd").addClass('arrow');
                label.insertAfter(element);
            },
            wrapper: 'span',
            messages: {
                pricingName_update: "Please Enter Method's Name",
                pricingPrice_update: "Enter Price",
                pricingDay_update: "Enter Days can be extended",
                price_image_update: "Image is required"
        }
    });
    })
    </script>
{% endblock %}