{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">

 <!-- Page Heading -->
     <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Conditions
                                    <a class="btn btn-danger btn-icon-split btn-sm" href="{% url 'detailedBookAdd' %}" style="background: #4e73df;">
<!--                                        <a class="login-trigger btn btn-success btn-icon-split btn-sm" href="#" data-target="#login" data-toggle="modal">-->
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">New Book</span>
                                    </a></h1>
                    </div>
<!--                    <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--                        <h1 class="h3 mb-0 text-gray-800">Publisher-->
<!--                                   <a class="login-trigger btn btn-success btn-icon-split btn-sm" href="#" data-target="#login" data-toggle="modal">-->
<!--                                        <span class="icon text-white-50">-->
<!--                                            <i class="fas fa-plus"></i>-->
<!--                                        </span>-->
<!--                                        <span class="text">New Publisher</span>-->
<!--                                    </a></h1>-->
<!--                    </div>-->

                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Number of Known-Publisher</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{x}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Annual) Card Example -->
{#                        <div class="col-xl-3 col-md-6 mb-4">#}
{#                            <div class="card border-left-success shadow h-100 py-2">#}
{#                                <div class="card-body">#}
{#                                    <div class="row no-gutters align-items-center">#}
{#                                        <div class="col mr-2">#}
{#                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">#}
{#                                                Online</div>#}
{#                                            <div class="h5 mb-0 font-weight-bold text-gray-800">3</div>#}
{#                                        </div>#}
{#                                        <div class="col-auto">#}
{#                                            <i class="fas fa-lightbulb fa-2x text-gray-300"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <!-- Tasks Card Example -->#}
{#                        <div class="col-xl-3 col-md-6 mb-4">#}
{#                            <div class="card border-left-info shadow h-100 py-2">#}
{#                                <div class="card-body">#}
{#                                    <div class="row no-gutters align-items-center">#}
{#                                        <div class="col mr-2">#}
{#                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks#}
{#                                            </div>#}
{#                                            <div class="row no-gutters align-items-center">#}
{#                                                <div class="col-auto">#}
{#                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>#}
{#                                                </div>#}
{#                                                <div class="col">#}
{#                                                    <div class="progress progress-sm mr-2">#}
{#                                                        <div class="progress-bar bg-info" role="progressbar"#}
{#                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"#}
{#                                                            aria-valuemax="100"></div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-auto">#}
{#                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <!-- Pending Requests Card Example -->#}
{#                        <div class="col-xl-3 col-md-6 mb-4">#}
{#                            <div class="card border-left-warning shadow h-100 py-2">#}
{#                                <div class="card-body">#}
{#                                    <div class="row no-gutters align-items-center">#}
{#                                        <div class="col mr-2">#}
{#                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">#}
{#                                                Most Popular Book Genre</div>#}
{#                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Horror</div>#}
{#                                        </div>#}
{#                                        <div class="col-auto">#}
{#                                            <i class="fas fa-trophy fa-2x text-gray-300"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
<div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                                        <h6 class="m-0 font-weight-bold text-primary" style="font-size: x-large;">All Books</h6>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex flex-row-reverse">
                                        <div class="p-2">
                                        <a class="btn btn-dark btn-sm rounded-pill" href="{% url 'adminLog' 12   %}"><i class="fas fa-clock"></i> History</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;vertical-align: middle;">No.</th>
                                            <th style="text-align:center;vertical-align: middle;">Book's ID</th>
                                            <th style="text-align:center;vertical-align: middle;">Book's Name</th>
                                            <th style="text-align:center;vertical-align: middle;">Book's Condition</th>
                                            <th  style="text-align: center">Note</th>
                                            <th  style="text-align: center">Date</th>
                                            <th  style="text-align: center">History</th>
                                            <th  style="text-align: center">Edit</th>
                                        </tr>
                                    </thead>
<!--                                    <tfoot>-->
<!--                                        <tr>-->
<!--                                            <th style="text-align:center;vertical-align: middle;">No.</th>-->
<!--                                            <th style="text-align:center;vertical-align: middle;">Publisher's Name</th>-->
<!--                                            <th style="text-align:center;vertical-align: middle;">Books In Library</th>-->
<!--                                            <th style="text-align:center;vertical-align: middle;">All Books</th>-->
<!--                                            <th  style="text-align: center">View</th>-->
<!--                                            <th  style="text-align: center">Edit</th>-->
<!--                                        </tr>-->
<!--                                    </tfoot>-->
                                    <tbody>
                                    {% for book in detailedBooks %}
                                        <tr>
                                            <td style="text-align:center;vertical-align: middle;">{{ forloop.counter }}</td>
                                           <td  style="text-align:center;vertical-align: middle;">HLb00{{ book.detailed_id }}</td>
                                            <td style="text-align:center;vertical-align: middle;">{{ book.detailed_book_id }}</td>
                                           <td  style="text-align: center">{{ book.detailed_book_percentage }} %</td>
                                            <td  style="text-align: center">{{ book.detailed_book_note }}</td>
                                            <td  style="text-align: center">{{ book.detailed_importDate }}</td>
                                           <td  style="text-align: center"><a class="btn btn-outline-success btn-sm btn-circle" href="{% url 'detailedHistory' book.detailed_id %}"><i class="fas fa-scroll"></i></a></td>
                                           <td  style="text-align: center"><button class="btn btn-warning btn-circle btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#reqModal-{{ book.detailed_id }}"><i class="fas fa-pen-fancy"></i></button></td>
                                        </tr>
                                        <div class="modal fade bd-example-modal-lg" id="reqModal-{{ book.detailed_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                              <div class="modal-dialog">

                                                <div class="modal-content">
                                                  <div class="modal-body">
                                                    <button data-dismiss="modal" class="close">&times;</button>
                                                    <h4 style="text-align: center;">HLb00{{ book.detailed_id }}</h4>
                                                    <form class="user" name="registration-form" id="registration-form" action="{% url 'detailedBookEdit' book.detailed_id %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="form-group row">
                                                            <div class="col-sm-10 mb-3 mb-sm-0">
                                                      <input type="text" name="percent" id="percent" class="username form-control" value="{{ book.detailed_book_percentage }}"/>
                                                                <textarea name="note" id="note" class="username form-control" >{{ book.detailed_book_note }}</textarea>
                                                            </div>
                                                            <div class="col-sm-2">
                                                        <button class="btn btn-success btn-circle" type="submit"><i class="fas fa-check"></i></button>
                                                                </div>
                                                        </div>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
</div>
{% endblock %}
{% block script %}
    <script>
    $(function() {

        $.validator.setDefaults({
            errorClass: 'help-block',
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },
            unhighlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .removeClass('has-error');

            },
            errorPlacement: function (error, element) {
                if (element.prop('type') === 'checkbox') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $("#registration-form").validate({
            rules: {
                percent: "required",
                note : "required"
            },
            errorPlacement: function (label, element) {
                label.parents(".asd").addClass('arrow');
                label.insertAfter(element);
            },
            wrapper: 'span',
            messages: {
                percent: "Please Enter Percentage",
                note: "Enter Note"
        }
    });
    })
    </script>
{% endblock %}