{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container">
        <div class="card shadow mb-4">
        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Change Password</h6></div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-4">
            <form class="user" name="registration-form" id="registration-form" action="{% url 'changePasswordAdminProc' %}" method="post">
                {% csrf_token %}
                <label for="oldPassword">Current Password</label>
                <input type="password" class="form-control form-control-user" id="oldPassword" name="oldPassword" >
                <hr>
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control form-control-user" id="newPassword" name="newPassword" >
                <hr>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" class="form-control form-control-user" id="confirmPassword" name="confirmPassword" >
                <hr>
                <div class="row justify-content-center">
                    <div class="col-6">
                <button type="submit" class="btn btn-outline-success">Update</button>
                    </div>
                </div>
            </form>
                    </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(function() {

        $.validator.setDefaults({
            errorClass: 'help-block',
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },
            unhighlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .removeClass('has-error');

            },
            errorPlacement: function (error, element) {
                if (element.prop('type') === 'checkbox') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $("#registration-form").validate({
            rules: {
                oldPassword : {
                    required : true,
                },
                newPassword: {
                    required : true,
                    minlength: 8
                },
                confirmPassword:{
                    required : true,
                    minlength: 8,
                    equalTo : "#newPassword"
                },
            },
            errorPlacement: function (label, element) {
                label.parents(".asd").addClass('arrow');
                label.insertAfter(element);
            },
            wrapper: 'span',
            messages: {
                oldPassword: {
                        required: "Old Password is required",
                        },
                newPassword: {
                        required: "Enter New Password",
                        minlength: "Weak Password",
                        },
                confirmPassword: {
                        required: "Re-Enter Password",
                        minlength: "Weak Password",
                },
        }
    });
    })
    </script>
{% endblock %}