{% extends 'layouts/base.html' %}
{% block content %}
<div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Membership Extend Receipts</h1>
                    </div>

                    <div class="row">
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                        </div>
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Receipts</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{x}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-ninja fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Tasks Card Example -->
{#                        <div class="col-xl-3 col-md-6 mb-4">#}
{#                            <div class="card border-left-info shadow h-100 py-2">#}
{#                                <div class="card-body">#}
{#                                    <div class="row no-gutters align-items-center">#}
{#                                        <div class="col mr-2">#}
{#                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks#}
{#                                            </div>#}
{#                                            <div class="row no-gutters align-items-center">#}
{#                                                <div class="col-auto">#}
{#                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>#}
{#                                                </div>#}
{#                                                <div class="col">#}
{#                                                    <div class="progress progress-sm mr-2">#}
{#                                                        <div class="progress-bar bg-info" role="progressbar"#}
{#                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"#}
{#                                                            aria-valuemax="100"></div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="col-auto">#}
{#                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                        <!-- Pending Requests Card Example -->#}
{#                        <div class="col-xl-3 col-md-6 mb-4">#}
{#                            <div class="card border-left-warning shadow h-100 py-2">#}
{#                                <div class="card-body">#}
{#                                    <div class="row no-gutters align-items-center">#}
{#                                        <div class="col mr-2">#}
{#                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">#}
{#                                                Most Popular Book this Week</div>#}
{#                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Horror</div>#}
{#                                        </div>#}
{#                                        <div class="col-auto">#}
{#                                            <i class="fas fa-trophy fa-2x text-gray-300"></i>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                   <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="font-size: x-large;">Receipts</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                            <th style="text-align:center;vertical-align: middle;">No.</th>
                                            <th style="text-align:center;vertical-align: middle;">Receipt ID</th>
                                            <th style="text-align:center;vertical-align: middle;">By</th>
                                            <th style="text-align:center;vertical-align: middle;">Method</th>
                                            <th style="text-align:center;vertical-align: middle;">Price</th>
                                            <th  style="text-align: center">At</th>
                                            <th  style="text-align: center">Old Expired</th>
                                            <th  style="text-align: center">New Expired</th>
                                    </tr>
                                  </thead>
<tfoot>
                                    <tr>
                                            <th style="text-align:center;vertical-align: middle;">No.</th>
                                            <th style="text-align:center;vertical-align: middle;">Receipt ID</th>
                                            <th style="text-align:center;vertical-align: middle;">By</th>
                                            <th style="text-align:center;vertical-align: middle;">Method</th>
                                            <th style="text-align:center;vertical-align: middle;">Price</th>
                                            <th  style="text-align: center">At</th>
                                            <th  style="text-align: center">Old Expired</th>
                                            <th  style="text-align: center">New Expired</th>
                                    </tr>
                                  </tfoot>
                                    <tbody>
                                    {% for a in all %}
                                        <tr>
                                        <td style="text-align:center;vertical-align: middle;">{{ forloop.counter }}</td>
                                        <td style="text-align:center;vertical-align: middle;">HLextmbs{{ a.history_Id }}</td>
                                        <td style="text-align:center;vertical-align: middle;">{{ a.user_id }}</td>
                                        <td style="text-align:center;vertical-align: middle;">{{ a.pricing }}</td>
                                            <td style="text-align:center;vertical-align: middle;">${{ a.pricing.pricing_price }}</td>
                                            <td style="text-align:center;vertical-align: middle;">{{ a.history_timestamp }}</td>
                                        <td style="text-align:center;vertical-align: middle;">{{ a.old_expired_date }}</td>
                                            <td style="text-align:center;vertical-align: middle;">{{ a.new_expired_date }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
</div>
{% endblock %}