{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4" style="font-family: 'Dancing Script', cursive;">{{author.author_pseudonym}}</h1>
                            </div>
                            <form class="user" name="registration" enctype="multipart/form-data" id="registration" action="{% url 'updateProcess' author.author_id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <div class="form-group row align-items-center">
                                            <div class="col-sm-2 mb-3 mb-sm-0 d-flex justify-content-center">
                                                <label for="file-upload" class="btn btn-circle" style="border: 1px solid #ccc;
                                                                                                                                            display: inline-block;
                                                                                                                                            cursor: pointer;
                                                                                                                                            word-wrap: break-word">
                                                    <i class="fas fa-upload"></i>
                                                </label>
                                                <input id="file-upload" name="image" type="file" onchange="loadFile(event)" accept="image/*" class="form-control form-control-user" style="display: none;"/>

                                            </div>
                                            <div class="col-sm-10 mb-3 mb-sm-0">
                                                <img id="output" src="{{ author.author_imgUrl.url }}"  class="d-flex align-items-center" style="width: 100%;height: 100%;margin: auto; border-radius:10px 30px; border-color: #000000 ;box-shadow: 5px 5px rgba(0,0,0,.15);">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <label for="authorName">Full Name:</label>
                                        <input type="text" class="form-control form-control-user" id="authorName"
                                            placeholder="Author's Fullname" name="authorName" value="{{ author.author_name }}" >
                                        <br>
                                    <label for="authorPseudonym">Pseudonym:</label>
                                        <input type="text" class="form-control form-control-user" id="authorPseudonym"
                                            placeholder="Author's Pseudonym" name="authorPseudonym" value="{{ author.author_pseudonym }}" >
                                    <br>
                                        <div class="form-group row align-items-center">
                                            <div class="col-6">
                                        <label for="authorDoB">Date of Birth:</label>
                                        <input type="date" class="form-control form-control-user"
                                        id="authorDoB" placeholder="Date Of Birth" name="authorDoB" value="{{ author.author_dateOfBirth|date:'Y-m-d'}}"  >
                                            </div>
                                            <div class="col-6">
                                            <label for="gender">Gender</label>
                                                <div id="gender" class="form-group row align-items-center">
                                                <div class="col-6 text-left custom-control custom-radio align-items-center">
                                                <input type="radio" class="custom-control-input" id="a" name="authorGender" value = "True" {% if  author.author_gender == True %} checked {% endif %} >
                                            <label class="custom-control-label" for="a"><i class="fas fa-mars  fa-2x"></i></label>
                                            </div>
                                                <div class="col-6 text-left custom-control custom-radio align-items-center">
                                                <input type="radio" class="custom-control-input" id="s" name="authorGender"  value= "False" {% if author.author_gender == False %} checked {% endif %} >
                                                <label class="custom-control-label" for="s"><i class="fas fa-venus  fa-2x"></i></label>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label for="authorBio">Biography</label>
                                        <textarea class="form-control "  id="authorBio" name="authorBio"  rows="3" style="resize: none;height: 300px;" >{{author.author_biography}}</textarea>
                                    </div>

                                    <div class="col-sm-5 mb-3 mb-sm-0">
                                        <label for="reason">Reason</label>
                                        <textarea class="form-control "  id="reason" name="reason"  rows="3" style="resize: none;height: 300px;" placeholder="Update Reason ..." ></textarea>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Update
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>
    $(function() {

        $.validator.setDefaults({
            errorClass: 'help-block',
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },
            unhighlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .removeClass('has-error');

            },
            errorPlacement: function (error, element) {
                if (element.prop('type') === 'checkbox') {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $("#registration").validate({
            rules: {
                authorName: "required",
                authorPseudonym: "required",
                authorDoB: "required",
                authorGender: "required",
                authorBio: "required",
                reason: "required"

            },
            errorPlacement: function (label, element) {
                label.parents(".asd").addClass('arrow');
                label.insertAfter(element);
            },
            wrapper: 'span',
            messages: {
                authorName: "Please enter Author's name",
                authorPseudonym: "Please enter Author's Pseudonym",
                authorDoB: "Please enter Author's Date of Birth",
                authorGender: "Please enter Author's Gender",
                authorBio: "Please enter Author's Biography",
                reason : "Enter Update Reason"
            },
        });
    })
    </script>
{% endblock %}